name: ci
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruzickap/action-my-markdown-link-checker@v1
        with:
          config_file: .github/.mlc_config.json
